/*
 * VARIABLES
 * Shared variables for all pages and components
 * ========================================================================== */

/*
 * Colors
 * ------------------------------------------------------------------------ */
// Main colors
$color-primary: #88e85d;
$color-secondary: #ff5741;
$color-white: #fff;
$color-black: #000;
$color-gray: #707070;

/*
  * Fonts
  * ------------------------------------------------------------------------ */

$default-font-size: 1.6rem;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
